 {{#if data.results}} 
   {{#each data.results}}
  <tr>
	<td><p>{{register_date}}</p></td>
	<td><p>{{data_order}}</p></td>
  <td><p>{{contenido}}</p></td>
	<td><p>{{total_send}}</p></td>
	<td><p>{{total_ok}}</p></td>
	<td><p>{{total_fail}}</p></td>
	<td><p>{{res_json.status_message}}</p></td>
	<td><pre title="Click para ver" onclick="showJson(this)">{{res_pw}}</pre></td> 
  </tr>
{{/each}}
{{else}} 
 <tr><td colspan="8"><p style="font-size:1.5em;text-align:center;">NO RESULTS!!!</p></td></tr>
{{/ if }} 
<tr style="display:none;">
    <td colspan="8">
      <span id="data_total">{{data.total}}</span>
      <span id="data_found">{{data.found}}</span>
      <span id="data_offset">{{data.request.offset}}</span>
      <span id="data_limit">{{data.request.limit}}</span>
    </td>
  </tr>



