		<div class="sec">
		<h2>Recently</h2>
	    {{#if recently}}
	    <button type="button" class="btn w_b clear" onclick="clearRecently(this)">Clear</button>
		<div class="row" id="recently">
		<div class="row">
			{{#each recently}}
		  	<div class="placa to-play"data-exc="{{exc}}" data-lesson="{{lesson}}" data-link="{{link}}" data-color="{{color}}" data-type="{{type}}" data-inx="{{inx}}" data-book="{{cover}}">
				<div class="img cover {{book}} {{color}} to-playspan"></div>
				<p class="to-playspan">{{name}}</p>
				<div class="play to-playspan" data-exc="{{exc}}" data-lesson="{{lesson}}" data-link="{{link}}" data-color="{{color}}" data-type="{{type}}"></div>
		  	</div>
			{{/each}}
		{{else}}
		<div class="row" style="height: max-content;">
		<div class="row">
			<p class="nada">Nothing. Visit the library &#128515;</p>
		{{/ if}}
		</div>
		</div>
	 </div>

	  <div class="sec">
		<h2>Books</h2>
		<div class="row">
		<div class="row">

		   <div class="placa" onclick="changeTab(this,changeSubTab,this,0,'book')" data-vista="library">
			<div class="img b"></div>
			<p>Student Book</p>
			<div class="play" onclick="changeTab(this,changeSubTab,this,0,'book')" data-vista="library"></div>
		  </div>

		   <div class="placa" onclick="changeTab(this,changeSubTab,this,1,'workbook')" data-vista="library">
			<div class="img wb"></div>
			<p>WorkBook</p>
			<div class="play" onclick="changeTab(this,changeSubTab,this,1,'workbook')" data-vista="library"></div>
		  </div>

		   <div class="placa" onclick="changeTab(this,changeSubTab,this,2,'reader')" data-vista="library">
			<div class="img r"></div>
			<p>Reader Book</p>
			<div class="play" onclick="changeTab(this,changeSubTab,this,2,'reader')" data-vista="library"></div>
		  </div>
		<!--
		   <div class="placa" onclick="changeTab(this,changeSubTab,this,3,'schoology')" data-vista="library">
			<div class="img sch"></div>
			<p>Schoology</p>
			<div class="play" onclick="changeTab(this,changeSubTab,this,3,'schoology')" data-vista="library"></div>
		  </div>
		-->
		</div>
		</div>
	  </div>

	  <div class="sec">
		<h2>Downloadable Books</h2>
		<div class="col">
		<div class="col">
			<a href="https://drive.google.com/uc?id=1ok7SuNOgwleZtQv5HaSxa4P_Nx0GYs2C&export=download">Student Book ~ full book PDF (67 Mb) <span></span></a>
			<a href="https://drive.google.com/uc?id=1ok7SuNOgwleZtQv5HaSxa4P_Nx0GYs2C&export=download">WorkBook ~ full book PDF (44 Mb) <span></span></a>
			<a href="https://drive.google.com/uc?id=1CvObhPhOAoGKtiNkMZNv0AHgUlNiBta8&export=download">No place to hide ~ full book PDF (21 Mb) <span></span></a>
		</div>
		</div>
	  </div>