<div class="col lib_head">
			<div class="row">
				<div class="tab" onclick="changeSubTab(this,0,'book')" id="tabDefault">Student Book</div>
				<div class="tab" onclick="changeSubTab(this,1,'workbook')">WorkBook</div>
				<div class="tab" onclick="changeSubTab(this,2,'reader')">Reader Book</div>
				<div class="tab" onclick="changeSubTab(this,3,'schoology')">Schology</div>
			</div>
			<div class="selector_tab" id="selector_tab"></div>
		</div>
<div class="lib_bdy">
<!--  ***** *************************************************** -->
{{#each datos}}
<div class="library_sec" id="tab{{name}}" style="z-index:99;">
	<div class="col lib_head sub_head">
	  <div class="row">
		<div class="tab" onclick="changeSubTab(this,0,'{{name}}audio','{{letter}}')">Audios</div>
		<div class="tab" onclick="changeSubTab(this,1,'{{name}}pdf','{{letter}}')">PDF</div>
	  </div>
	  <div class="selector_tab" id="selector_tab{{letter}}"></div>
	</div>
	<!-- ************************************** -->
	<div class="library_sec" id="tab{{name}}audio" style="z-index:5;">
	  <ul>
	  {{#each audios}}
	  	<li class="row to-artist" data-vista="artist" data-lesson="{{lesson}}" data-album="{{book}}">
	  		<span class="w10 icon cover {{color}} to-artistspan"></span>
	  		<span class="w90 to-artistspan">{{type}} {{lesson}}
			{{#if other}}
	  		 ~ (pags.{{other.pags}})
			{{/if}}
	  		</span>
	  	</li>
	  {{/each}}
	  </ul>
	</div>
	<!-- ************************************** -->
	<div class="library_sec" id="tab{{name}}pdf">
	  <ul> <!-- aqui va book_pdf -->
	    {{#each pdf}}
	  	<li class="row to-pdf_view" data-vista="pdf_view" data-link="{{link}}" data-download="{{linkDownload}}"><span class="w10 icon pdf to-pdf_viewspan"></span><span class="w75 to-pdf_viewspan">{{type}} {{lesson}} ~ 
		{{#if other}}
	  	(pag.{{other.pags}})
	  	{{/if}}
	  	</span><span class="menu_point"></span><a href="{{linkDownload}}" target="_blank" class="desplegable hidden"><span></span>Download</a></li>
	  {{/each}}
	  </ul>
	</div>
</div>
{{/each}}